.created-product-container {
  width: 100%;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  // border: 2px solid red;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.created-product-headings {
  background-color: #ffe8e8;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 10px;
  .created-product-heading {
    font-size: 1rem;
    text-align: center;
  }
}
.create-product-actions {
  display: flex;
  justify-content: space-around;
}

.created-products {
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-columns: 1fr; /* Displaying three columns */
  gap: 20px;
}

.create-product-items {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #ffe8e8;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    // border: 2px solid rebeccapurple;
  }
}
.create-product-items:first-child {
  margin-top: 20px;
}
.create-product-items:last-child {
  margin-bottom: 20px;
}

.created-product-img {
  width: 100px;
  height: inherit;
  img {
    width: 100%;
    object-fit: cover;
  }
  img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
  }
}
.upload-img{
  font-weight: 500;
  span{
    font-weight: 400;
    font-size: small;
    color: green;
  }
}
.create-product-actions {
  button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    img:hover {
      transform: scale(105%);
    }
  }
}

@media screen and (max-width: 1200px) {
  .created-product-headings {
    .created-product-heading {
      font-size: 0.8rem;
    }
  }
  .created-products {
    .create-product-items {
      .created-product-img {
        width: 90px;
        img {
          width: 100%;
        }
      }
      p {
        font-size: 0.85rem !important;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .created-products {
    .create-product-items {
      .created-product-img {
        width: 80px;
        img {
          width: 100%;
        }
      }
      p {
        font-size: 0.8rem !important;
      }
      .create-product-actions {
        button {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .profile-container {
    .profile-det-container {
      .ext-left-profile,
      .ext-right-profile {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }
    }
  }
  .created-product-container {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    .created-product-headings {
      width: 100%;
      .created-product-heading {
        font-size: 0.7rem;
      }
    }
    .created-products {
      width: 100%;
      .created-product-img {
        width: 60px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .created-product-container {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 110%;
    .created-product-headings {
      .created-product-heading {
        font-size: 0.6rem;
      }
    }
    .created-products {
      .create-product-actions {
        display: flex;
        flex-direction: column;
        button {
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .created-product-container {
    width: 120%;
    margin-left: 0;
    margin-right: 0;
    .created-products {
      .create-product-items {
        .created-product-img {
          img {
            width: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .created-product-container {
    .created-product-headings {
      .created-product-heading {
        h3 {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
