.created_blogs {
    width: 100%;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
  
    .created_blogs_title {
      text-align: center;
      margin-bottom: 20px;
  
      h3 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        animation: jelly-animation 0.6s cubic-bezier(.68,-0.55,.27,1.55) 1;
      }
    }
  
    .created_blogs_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .created_blogs_card {
      background-color: white;
      width: calc(33% - 20px);
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.05);
      }
  
      .created_blogs_card_title {
        margin-bottom: 10px;
      }
  
      .created_blogs_card_content {
        margin-bottom: 10px;
      }
  
      .created_blogs_card_footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
  
      .created_blogs_card_button {
        display: flex;
        justify-content: space-between;
  
        .view_blog_button,
        .delete_blog_button,
        .edit_blog_button {
          background-color: #007bff;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #0056b3;
          }
        }
  
        .delete_blog_button {
          background-color: #dc3545;
  
          &:hover {
            background-color: #c82333;
          }
        }
  
        .edit_blog_button {
          background-color: #ffc107;
  
          &:hover {
            background-color: #e0a800;
          }
        }
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes jelly-animation {
    0%,
    100% {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
  }
  .span_tag{
    font-size: 1.1rem;
    font-weight: 500;
  }

  .no_blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .animated_text {
    font-size: 1.5rem;
    color: #888;
    animation: fadeIn 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  