a {
  text-decoration: none;
}
.containerAddress {
  width: 100%;
  // border: 2px solid rebeccapurple;
}

.addressesContainer {
  width: 80%;
  // border: 2px solid red;
  margin: 0 auto;
  padding: 2em;
}

.addressesTitle {
  padding-bottom: 1.5em;
}
.myAddress-container {
  // border: 2px solid rgb(60, 255, 0);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  transform: translateY(20px);
  animation: slideInFromLeft 1.5s ease-out;
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.plusicon {
  font-size: 61px;
}
.addresses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // border: 2px solid rgb(0, 42, 255);
  border-radius: 20px;
  background: #e4e4e4;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  min-height: 200px;
  min-width: 200px;
  color: black;
}

.address-btn-container {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;

  a,
  button {
    // color: #00c2ff;
    color: orange;
    width: 40%;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: transparent;
  }
}
.address {
  // text-align: justify;
  padding: 1em;
}
.address-box {
  margin: 0 auto;
  border-radius: 5px;
  // background-color: #f9f9f9;
  p {
    margin-bottom: 0.25rem;
  }
}

.new-address-container {
  h2 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .addresses {
    .address {
      .address-box {
        p {
          strong {
            font-size: 0.9rem !important;
          }
          font-size: 0.9rem !important;
        }
      }
    }
  }
  .new-address-container {
    h2 {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .addresses {
    .address {
      .address-box {
        p {
          font-size: 0.7rem !important;
          strong {
            font-size: 0.7rem !important;
          }
        }
      }
    }
  }
  .new-address-container {
    h2 {
      font-size: 1rem;
    }
  }
}
