.blog-post {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  animation: fadeInUp 1.5s ease-in-out forwards;
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

  .image-section {
    width: 100%;

    img.blog-image {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 0 0 30px 0;
      box-shadow: 0.4px 0.8px 2.2px rgba(0, 0, 0, 0.02),
        0.9px 1.9px 5.3px rgba(0, 0, 0, 0.028),
        1.8px 3.6px 10px rgba(0, 0, 0, 0.035),
        3.1px 6.5px 17.9px rgba(0, 0, 0, 0.042),
        5.8px 12.1px 33.4px rgba(0, 0, 0, 0.05),
        14px 29px 80px rgba(0, 0, 0, 0.07);
      filter: grayscale(100%);
      transition: filter 0.3s ease-in-out;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }

  .content-section {
    padding: 16px;
    text-align: center;

    .author-info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;

      .author-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
      }

      .author-details {
        h4 {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }

        p {
          margin: 0;
          font-size: 12px;
          color: #6c757d;
        }
      }
    }

    h1 {
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
      color: orange;
      font-weight: bold;
    }

    .description {
      font-size: 14px;
      color: #6c757d;
      margin-bottom: 16px;
    }
  }
}
