
.row{
  width: 100%;
  padding: 1rem;
  margin: 2rem 2rem;
  >h1{
     font-size: 1.5rem;
     font-weight: 400;
     margin: 0.3rem;
  }
  >div{
  display: flex;
  // justify-content: space-evenly;
  overflow-x: auto;
  gap: 2rem;
}
}

