a {
  text-decoration: none;
}

.profile-container {
  width: 100%;
  height: fit-content;transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
}

.profile-title {
  text-align: center;
  margin-top: 2rem;
}

.profile-title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  text-transform: capitalize;
}

.img-profile img {
  width: 70px;
  height: 70px;
  box-shadow: 2px 1px 1.5px -0.5px rgba(128, 128, 128, 0.148),
          3px 2px 9.5px -0.3px rgba(128, 128, 128, 0.234),
          1px 5px 3.5px -0.4px rgba(128, 128, 128, 0.129),
          6px 7px 4.5px -0.1px rgba(128, 128, 128, 0.089);
}

.profile-det-container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: 1rem 3rem;
}

.ext-left-profile,
.ext-right-profile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }
}

.main-profile {
  width: 100%;
  margin: 0 1rem;
}

.main-profile-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0.4rem 0.2rem 0.5rem -5px rgba(0, 0, 0, 0.177),
    0.5rem 0.1rem 0.5rem -6px rgba(0, 0, 0, 0.175),
    0.2rem 0.6rem 0.2rem -2px rgba(0, 0, 0, 0.163);
  border-radius: 10px;
}

.main-profile-container-left {
  display: flex;
}

.main-profile-container-right {
  // border:2px solid rgb(106, 255, 0);
  width: 5em;
  text-align: center;

  label {
    cursor: pointer;
    font-size: 2rem;
  }

  label:hover {
    color: orange;
  }
}

.main-profile-det {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.7rem;
  font-family: "Poppins", sans-serif;
  // border:2px solid rgb(0, 60, 255);
  .profile-name {
    p {
      font-size: 1rem;
      strong {
        font-size: 0.9rem;
      }
    }
  }
  .profile-email {
    p {
      font-size: 0.8rem;
    }
  }
}

.profile-actions-slot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
  margin-top: 2rem;
  grid-column-gap: 3rem;
  // transform: translateY(20px);
  // animation: slideInFromLeft 2s ease-out;
//   @keyframes slideInFromLeft {
//     0% {
//       transform: translateX(-100%);
//       opacity: 0;
//     }
//     100% {
//       transform: translateX(0);
//       opacity: 1;
//     }
//   }
// }
}

.profile-slot {
  padding: 1.5rem 2.5rem;
  display: flex;
  border-radius: 8px;
  box-shadow: 0.4rem 0.2rem 0.5rem -5px rgba(0, 0, 0, 0.177),
    0.5rem 0.1rem 0.5rem -6px rgba(0, 0, 0, 0.175),
    0.2rem 0.6rem 0.2rem -2px rgba(0, 0, 0, 0.163);
  cursor: pointer;
  transition: all 0.3s linear;
}

.img-profile {
  width: 5rem;
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
  }
}

.profile-slot,
.profile-slot .title-action {
  width: 100%;
}

.title-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  h4 {
    text-transform: capitalize;
  }
}

.title-action p {
  margin-top: 0.6rem;
}

.img-action img {
  width: 50px;
  height: 50px;
  margin-right: 3rem;
}

.profile-slot:hover {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.062),
    rgba(128, 128, 128, 0.186)
  );
  box-shadow: none;
}

@media screen and (max-width: 1850px) {
  .profile-container {
    .profile-det-container {
      .ext-left-profile,
      .ext-right-profile {
        img {
          width: 200px;
          height: 200px;
          margin-left: 1.5rem;
          margin-right: 1.5rem;
        }
      }
      .profile-actions-slot {
        .profile-slot {
          .img-action {
            width: 4rem;
          }

          .title-action {
            h4 {
              font-size: 1rem;
            }

            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1650px) {
  .profile-container {
    .profile-det-container {
      .ext-left-profile,
      .ext-right-profile {
        img {
          width: 150px;
          height: 150px;
          margin-left: 1.2rem;
          margin-right: 1.2rem;
        }
      }
      .profile-actions-slot {
        .profile-slot {
          .img-action {
            width: 3.6rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .profile-container {
    .profile-det-container {
      .ext-left-profile,
      .ext-right-profile {
        img {
          width: 120px;
          height: 120px;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
      .profile-actions-slot {
        .profile-slot {
          .img-action {
            width: 3.2rem;
          }
          .title-action {
            h4 {
              font-size: 0.9rem;
            }
            p {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .profile-container {
    .profile-det-container {
      .profile-actions-slot {
        grid-template-columns: 1fr;
        .profile-slot {
          .title-action {
            h4 {
              font-size: 1.1rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .profile-container {
    .profile-det-container {
      margin: 1rem 2rem;
      .main-profile {
        .main-profile-container {
          .main-profile-container-left {
            .img-profile {
              img {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }

      .profile-actions-slot {
        .profile-slot {
          padding: 1rem 2rem;
          .img-action {
            img {
              width: 35px;
              height: 35px;
            }
          }
          .title-action {
            h4 {
              font-size: 0.9rem;
            }
            p {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .profile-container {
    .profile-det-container {
      .main-profile {
        .main-profile-container {
          .main-profile-container-left {
            .img-profile {
              width: 4rem;
            }
            .main-profile-det {
              .profile-name {
                p {
                  font-size: 0.8rem;
                  strong {
                    font-size: 0.7rem;
                  }
                }
              }
              .profile-email {
                font-size: 0.68rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-container {
    .profile-det-container {
      padding: 0.5rem 1rem;
      .ext-left-profile,
      .ext-right-profile {
        img {
          display: none;
        }
      }
      .main-profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .main-profile-container {
          width: 80%;
          .main-profile-container-right {
            margin-left: 1rem;
          }
        }
      }
      .profile-actions-slot {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .profile-slot {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .profile-container {
    .profile-det-container {
      .main-profile {
        .main-profile-container {
          width: 90%;
          .main-profile-container-left {
            .img-profile {
              width: 3rem;
              img {
                width: 50px;
                height: 50px;
              }
            }
            .main-profile-det {
              margin-left: 0.5rem;
              .profile-name,
              .profile-email {
                p {
                  font-size: 0.7rem;
                  strong {
                    font-size: 0.6rem;
                  }
                }
              }
            }
          }
        }
      }
      .profile-actions-slot {
        .profile-slot {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .profile-container {
    .profile-det-container {
      padding: 0.5rem 0.5rem;
      .main-profile {
        .main-profile-container {
          width: 100%;
        }
      }
      .profile-actions-slot {
        .profile-slot {
          width: 100%;
          .img-action {
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
            }
          }
          .title-action {
            h4 {
              font-size: 0.7rem;
            }
            p {
              font-size: 0.65rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .profile-container {
    .profile-det-container {
      .main-profile {
        .main-profile-container {
          width: 110%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .main-profile-container-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            .img-profile {
              margin-bottom: 0.5rem;
              img {
                width: 60px;
                height: 60px;
              }
            }
          }
          .main-profile-container-right {
            margin-top: 0.6rem;
            margin-bottom: -1.5rem;
          }
        }
      }
      .profile-actions-slot {
        .profile-slot {
          width: 110%;
        }
      }
    }
  }
}
