.container{
    // border: 1px solid magenta;
    margin: 1em 5em;
}

.allProductContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    justify-content: center;
    gap: 2em;
    overflow-x: hidden;
}