$textColor: #212121;
$textWhite: #fafafa;
$secondaryTextColor: #4d4d4d;
$orangeTextColor: #d47f00;

// .card-container {
//   display: flex;
//   justify-content: flex-start;
//   border: 1px solid yellow;
//   .card {
//     width: 90%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 2rem;
//     border: 1px solid red;
//     .card-layout-container {
//       display: flex;
//       flex-direction: column;
//       .imgContainer {
//         width: 100%;
//         padding: 1.5rem;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         img {
//           width: 90%;
//           height: 280px;
//         }
//       }
//       .product-title,
//       .prices-continer {
//         text-align: center;
//         padding: 0 1.5rem;
//       }
//       .product-title {
//         text-decoration: none;
//         font-size: 1.3rem;
//         font-weight: bold;
//         color: rgb(66, 65, 65);
//         &:hover {
//           color: $orangeTextColor;
//         }
//       }
//       .ratings {
//         display: flex;
//         opacity: 0;
//         align-items: center;
//         justify-content: center;
//         gap: 0.5rem;
//         font-size: 1.3rem;
//         &:hover {
//           opacity: 1;
//         }
//       }
//     }
//   }
// }

// .productCard-cart{
//     width: 30px;
//     height: 30px;
//     cursor: pointer;
//     // &:hover{
//     //     color: #D47F00;
//     // }
// }

// .ratings {
//   display: flex;
//   opacity: 0;
//   align-items: center;
//   justify-content: center;
//   gap: 0.5rem;
//   font-size: 1.3rem;
//   &:hover {
//     opacity: 1;
//   }
// }

.card-container {
  .card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    position: relative;
    transition: height 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

    &:hover {
      box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
      transform: translateY(-30px);
    }
  }
}

.card-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .imgContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;

    &:hover img {
      filter: brightness(75%);
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      transition: all 0.4s ease-in-out;
    }

    .hover-buttons {
      position: absolute;
      top: 15px;
      right: 15px;
      display: flex;
      align-items: center;
      z-index: 1;
      transition: opacity 0.3s;

      .wishlist-hov-button,
      .cart-hov-button {
        background: white;
        border: 0.2px solid rgba(128, 128, 128, 0.151);
        cursor: pointer;
        font-size: 20px;
        padding: 0.2rem;
        color: $textColor; // Or any other color you prefer
      }

      .wishlist-button,
      .cart-button {
        text-decoration: none;
        width: 20px;
        height: 20px;
        color: gray;
        cursor: pointer;
        padding: 0.3rem;
        transition: color 0.4s ease-in-out, transform 0.4s ease-in-out;

        &:hover {
          color: $orangeTextColor;
          transform: scale(1.1); // Change color on hover
        }
      }
    }
  }

  .product-titles {
    .title {
      text-align: center;
      color: $secondaryTextColor;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 0.5rem;
      transition: color 0.4s ease-in-out;

      &:hover {
        color: $orangeTextColor;
      }
    }
  }

  .ratings {
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
  }

  .prices-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    span {
      margin: 0 0.3rem;
      color: $secondaryTextColor;
    }
  }

  // .carddown-div {
  //   display: none;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   padding: 1rem;
  //   background-color: rgba(255, 255, 255, 0.9);
  //   transition: transform 0.3s ease-in-out;
  //   z-index: 2;
  //   &:hover {
  //     transform: translateY(-100%);
  //   }
  //   img {
  //     width: 30px;
  //     height: 30px;
  //     cursor: pointer;
  //     margin-right: 10px;
  //   }
  // }

  // &:hover {
  //   .carddown-div {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }
  .carddown-div {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease-in-out;
    border: 1px solid red;
    z-index: 1;
    margin-top: 5rem;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  // .carddown-div {
  //   display: none;
  // }
  // &:hover .carddown-div {
  //   display: flex;
  //   align-items: center; // Center content horizontally
  //   width: 100%; // Ensure content spans the width of the card
  //   background-color: white; // Add background color for better visibility
  //   padding: 1rem; // Add padding for spacing
  //   z-index: 1; // Ensure content appears above other elements
  // }
}
