// *{border:2px solid red;}
.blog-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  .jelly-text-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FEFFD2;
    .text-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      .jelly-text{
        font-size: 2rem;
        padding: 1.2rem;
        margin-top: 2.5rem;
        background: rgba(0, 0, 0, 0.281);
        color: #fff;
        border-radius: 1.2rem;
      }
      .website{
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 0.5rem;
        background: #FFBF78;
        color: #ffffff;
        border-radius: 0.5rem;
      }
    }
    .background-image{
      object-fit: cover;
      margin: 2rem;
      border-radius: 10px;
      
    }
  }
  .blog-page-container{
    display: flex;
    margin: 2rem;
    padding: 1.2rem;
    flex-wrap: wrap;
    justify-content:space-evenly;  
    gap: 3rem;
  }
}