// src/components/Blog/BlogPage/BlogPage.scss

.blog-page {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;

  .jelly-text-container {
    position: relative;
    margin-bottom: 40px;
    text-align: center;

    .text-box {
      position: relative;
      z-index: 1;

      .jelly-text {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        animation: jelly-animation 0.6s cubic-bezier(.68,-0.55,.27,1.55) 1;
      }

      .website {
        font-size: 1.2rem;
        color: #777;
      }
    }

    .background-image {
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin-top: -50px;
      z-index: 0;
    }
  }

  .blog-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .blog-card {
      flex: 1 1 calc(50% - 20px);
      margin: 10px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      .blog-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
      }

      .blog-content {
        .blog-title {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .blog-description {
          font-size: 1rem;
          margin-bottom: 10px;
        }

        .blog-footer {
          display: flex;
          justify-content: space-between;
          font-size: 0.9rem;
          color: #777;

          .blog-location,
          .blog-date {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jelly-animation {
  0%,
  100% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
}
