/* BlogPage.scss */
.blog-page {
  background-color: #f9f9f9;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-in-out forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  // header
  // src/components/JellyText.scss
// src/components/JellyText.scss

$jelly-duration: 0.6s;
$jelly-timing-function: cubic-bezier(.68,-0.55,.27,1.55);

.jelly-text-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  background-color: #d8b4aa;
}

.text-box {
  position: relative;
  z-index: 1;
}

.jelly-text {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  transition: transform $jelly-duration $jelly-timing-function;
}

.jelly-text:hover {
  animation: jelly-animation $jelly-duration $jelly-timing-function;
}

.website {
  color: #6a4f4b;
  font-size: 1rem;
  margin-top: 10px;
}

.background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.5;
}

@keyframes jelly-animation {
  0%,
  100% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
}

  //  header end
  .blog-page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 3rem;
    gap: 2rem;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-in-out forwards;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
