$textColor:#212121;
$textWhite:#FAFAFA;
$secondaryTextColor:#4D4D4D;
$orangeTextColor:#D47F00;
$backgroundPrimaryColor: rgba(13, 191, 250, 0.083);
.about-container{
  .first-part{
    display: flex; justify-content: space-evenly;
    padding: 5rem 10rem;
    background-color: $backgroundPrimaryColor;
    .image-section {
      img{
        width: 400px; height: 400px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        margin-right: 1rem;
      }
    }
    .text-title-section{
      display: flex; 
      flex-direction: column;
      justify-content: center;
      width: 30%;
      span{
        color: rgb(17, 148, 230);
        font-weight: bold;
        margin-bottom: 1rem;
      }
      h2{
        margin-bottom: 1.5rem;
      }
      p{
        letter-spacing: 0.1rem;
      }
      .btn-about_{
        color: $secondaryTextColor;
        border: none;
        border-bottom: 2px solid $textColor;
        width: fit-content;
        background-color: transparent;
        margin-top: 1rem;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          color: rgb(17, 148, 230);
          border-bottom: 2px solid rgb(17, 148, 230);
        }
      }
    }
  }
  .second-part{
    margin-top: 1rem;
    background-color: $backgroundPrimaryColor;
    padding: 2rem 3rem;
    h2{
      text-align: center;
    }
    .para{
      display: flex; justify-content: center;
      margin-top: 1rem;
      p{
        width:  90%;
        letter-spacing: 0.1rem;
        text-align: center;
        font-size: 0.9rem;
      }
    }

    .sub-second-part{
      margin: 5rem 5rem;
      display: flex; justify-content: space-between;
      align-items: center;
      width: 90%;
      .left-part{
        width: 100%;
        padding-right: 0.5rem;
        span{
          color:rgb(17, 148, 230);
          font-size: 1.3rem;
        }
        p{
          font-size: 0.8rem;
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }
      .right-part{
        width: 100%;
        padding-left: 0.5rem;
        span{
          color:rgb(17, 148, 230);
          font-size: 1.3rem;
        }
        p{
          font-size: 0.8rem;
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }

    }
  }
  .third-part{
    margin-top: 1rem;
    background-color: $backgroundPrimaryColor;
    padding: 3rem 10rem;
    display: flex; justify-content: space-around;
    box-shadow: 0 0 1rem rgba(33, 32, 32, 0.383);
    .para--about{
      width:40%;
      display:flex;  justify-content: center; align-items: center;
      p{
        font-size: 0.9rem;
      }
    }
    .image--about{
      img{
        width: 300px; 
        height: 300px;
        object-fit:cover;
        background-position: center;
        background-size: cover;
      }
    }
  }
}