$textColor:#212121;
$textWhite:#FAFAFA;
$secondaryTextColor:#4D4D4D;
$orangeTextColor:#D47F00;


header{
    width: 100vmax;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    nav{
        width: 90vmax;
        height: 4.5vmax;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid red;
        margin: 0 auto;
    };

    .left-nav{
        // border: 1px solid crimson;
        img{
            width: 110px;
             
        }
    }
    .mid-nav {
        width: 35vmax;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2em;
        padding: 0.5rem 0;
    
        a {
            position: relative;
            text-decoration: none;
            color: $orangeTextColor;
            font-size: 1.2rem;
            font-weight: 700;
            padding-bottom: 0.2rem;
            transition: color 0.4s ease-in-out;
    
            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 5px;
                bottom: 0;
                left: 0;
                background-color: orange;
                transition: width 0.4s ease-in-out;
            }
    
            &:hover {
                color: orange;
                &::before {
                    width: 100%;
                }
            }
        }
    }
    
    .right-nav{
        // width: 25vmax;
        // border: 1px solid pink;
        img{
            background-color: transparent;
            background-image: none;
        }
    }
    .right-nav,.icon-btns-container,.auth-btns-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .icon-btns-container{
        gap:2em;
        margin-right: 4.5em;
        img{
            width: 45px;
            cursor: pointer;
        }
        .count-badge{
            position: absolute;
            background-color: rgb(255, 106, 0);
            color: white;
            padding: 0.2em 0.5em;
            border-radius: 50%;
            font-size: 0.8rem;
            &:hover::after{
                content: "See  Your Cart Items";
                background-color: rgb(255, 106, 0);
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                transform: translateX(-50%);
                             
            }
        }
    }

    .avatar-img{
        width: 4em;
        height: 4em;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        border: 1px solid $secondaryTextColor;
        img{
            width: 100%;
        }
    }
    .avatar-img:hover{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .avatarPlaceholder{
        width: 4em;
        height: 4em;
    }
    .auth-btns-container{
        gap: 2em; 

    }

    .auth-btn{
        color: $textWhite;
        padding: 0.7em 1.2em;
        text-align: center;
        border-radius: 8px;
        background: $orangeTextColor;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 0.8rem;
    }
    .auth-btn:hover{
        background: orange;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    }
}