.confirm-seller-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  .confirm-container {
    h2 {
      margin-top: 1rem;
    }
    .bar {
      width: 100%;
      background-color: black;
      height: 0.2rem;
      margin-bottom: 1.2rem;
    }
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .confirm-details {
      background-color: lightsalmon;
      color: white;
      padding: 1.3rem;
      border-radius: 0.6rem;
    }
    .update-details {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      width: 100%;
      p {
        text-align: center;
        margin-bottom: 0.5rem;
      }
      button {
        display: block;
        margin: 0 auto;
        color: white;
        background-color: orange;
        padding: 0.5rem 0.9rem;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: all 0.4s linear;
        &:hover {
          background-color: darkorange;
        }
      }
    }
    .final-submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        margin-bottom: 0.7rem;
        margin-top: 2rem;
        letter-spacing: 0.09rem;
        font-size: 0.9rem;
        span {
          .terms,
          .privacy {
            text-decoration: none;
            color: coral;
          }
        }
      }
      label {
        margin-bottom: 0.7rem;
      }
      button {
        background-color: orange;
        padding: 0.5rem 0.9rem;
        border: none;
        border-radius: 0.4rem;
        color: white;
        cursor: pointer;
        transition: all 0.4s linear;
        &:hover {
          background-color: darkorange;
        }
      }
    }
  }
}
