.confirmation-container {
  height: fit-content;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .confirmation {
    width: 80%;

    h2 {
      text-align: center;
    }
    p {
      text-align: center;
      margin-top: 1rem;
    }
    h3 {
      text-align: center;
      margin-top: 1rem;
    }
    .social-media {
      margin-top: 0.3rem;
      a {
        color: black;
        margin: 0 0.3rem;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
          color: darkorange;
        }
      }
    }
    .btn-confirm {
      display: flex;
      justify-content: center;
      margin-top: 4rem;
      button {
        margin-top: 1rem;
        color: white;
        padding: 0.5rem 0.9rem;
        background-color: orange;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: all 0.4s linear;
        &:hover {
          background-color: darkorange;
        }
      }
    }
  }
}
