
.orders-container{
  color: #1d1d1dd4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  padding: 1rem;
  padding-bottom: 2rem;
  .myOrdersHeading {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
  .myOrdersContainer{
    // border: 2px solid red;
    .myOrderItems{
    // border: 2px solid red;
    border-radius: 1.2rem;
    background: #E4E4E4;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    padding: 2rem;
    gap: 1rem;
    border-radius: 50px;
    background: #e4e4e4;
    box-shadow: 20px 20px 60px #c2c2c2, -20px -20px 60px #ffffff;
  }

  .myOrderItems h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .viewOrderBtn {
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    margin-top: 1.5rem;
    background: #e4e4e4;
    box-shadow: 20px 20px 60px #c2c2c2, -20px -20px 60px #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .orders-container {
    .myOrdersContainer {
      .myOrderItems {
        h3 {
          font-size: 0.9rem;
        }
        .viewOrderBtn {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .orders-container {
    .myOrdersHeading {
      font-size: 1.1rem;
    }
    .myOrdersContainer {
      .myOrderItems {
        h3 {
          font-size: 0.75rem;
        }
        .viewOrderBtn {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}
