.pagination-container {
  // border: 2px solid red;
  width: 30%;
  margin: 0 auto;
}

.pagination-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 10px;
}
